In [61]:
import math

def factorial(val1):
  if(val1 == 0 or val1 == 1):
    return 1
  else:
    return (val1 * factorial(val1 - 1))


def value():
  a = 2*math.sqrt(2)/9801
  k = 0
  calculation = (factorial(4 * k) * (1103 + (26390 * k))) / (((factorial(k)) ** 4) * (396 ** (4 * k)))
  summation = calculation
  while(calculation > ( 1 * math.exp(-15))):
    k = k + 1
    calculation = (factorial(4 * k) * (1103 + (26390 * k))) / (((factorial(k)) ** 4) * (396 ** (4 * k)))
    summation = summation + calculation
  final_result = 1 / (a * summation)
  return final_result


value()

3.141592653589793

In [18]:
Vegetable = "poteto"

def revVegetable(val):
	new_val = val[::-1]
	for i in new_val:
		print(i)


revVegetable("dalhousie")

e
i
s
u
o
h
l
a
d

In [19]:
word = "banana"
word.count("a")

3

In [28]:
def is_palindrome(var1):
  new_var = var1[::-1]
  for i in range(len(var1)):
    if(new_var[i] != var1[i]):
      return False
  return True



is_palindrome("noon")

True

In [31]:
def has_no_e(var1):
  if "e" in var1:
    return False
  else:
    return True
  

has_no_e("dalhousie")

False

In [50]:
def has_no_e(var1):
  counter1_with_e = 0
  counter2_no_e = 0
  for word in var1:
    if "e" in word:
      print("contains e")
      counter1_with_e = counter1_with_e + 1
    else:
      print("does not have e")
      counter2_no_e = counter2_no_e + 1
  return counter2_no_e / (counter2_no_e + counter1_with_e) * 100
  
list_temp = ["cat", "pet" , "plane", "university", "book"]
print(has_no_e(list_temp))

does not have e
contains e
contains e
contains e
does not have e
40.0